#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.city{
  display: flex;
  justify-content: space-between;
  border-bottom: black 2px solid;
}



.swiper-lists{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addList-btn{
  width: 60px;
  height: 50px;
  border-radius: 50%;
  /* margin: 5px; */
}
.swiper-slide-shadow-left, .swiper-slide-shadow-right {
  display: none;
}
p{
  font-size: 20px;
  font-weight: bold;
}

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 80px;
}

.place {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input{
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
}
.formdiv{
  display: flex;
}

.city-item{
  display: flex;
}
city-list{
  display: flex;
justify-content: space-between;
}
.formdivcities{
  width: 100%;
}
.buttons{
  margin-top: 100px;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.button{
font-size: 20px;
font-weight: bold;
}

.hamburger-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  position: relative;
}
  
.menu-items{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -120px;
  right: 30;
  background-color: #fff;
  padding: 10px;
  z-index: 1;
}
.menu-item{
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.hamburger-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-bottom: 70px;
  width: 50px;
  height: 50px;
}
.hamburger-button p{
  font-size: 40px;
}

.show-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-bottom: 70px;
  width: 50px;
  height: 50px;
}